<section>
  <div class="datenschutzerklaerung">
    <h1>{{ selectedLanguage === 'EN' ? 'Privacy Policy' : 'Datenschutzerklärung' }}</h1>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? '1. Responsible for Data Processing' : '1. Verantwortlicher für die Datenverarbeitung' }}</strong><br />
      Paul Ivan<br />
      Hauptstraße 30<br />
      4020 Linz<br />
      Österreich<br />
      E-Mail: info&#64;paul-ivan.com
    </p>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? '2. Collection and Storage of Personal Data and Type and Purpose of their Use' : '2. Erfassung und Speicherung personenbezogener Daten sowie Art und Zweck von deren Verwendung' }}</strong>
    </p>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? 'a) When Visiting the Website' : 'a) Beim Besuch der Website' }}</strong><br />
      {{ selectedLanguage === 'EN' ? 
        'When you visit our website, the browser on your device automatically sends information to the server of our website. This information is temporarily stored in a log file. The following information is collected without your intervention and stored until automated deletion:' :
        'Beim Aufrufen unserer Website werden durch den Browser, den Sie verwenden, automatisch Informationen an den Server unserer Website gesendet. Diese Informationen werden temporär in einem sogenannten Logfile gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten Löschung gespeichert:' 
      }}
    </p>
    <ul>
      <li>{{ selectedLanguage === 'EN' ? 'IP address of the requesting device' : 'IP-Adresse des anfragenden Rechners' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Date and time of access' : 'Datum und Uhrzeit des Zugriffs' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Name and URL of the retrieved file' : 'Name und URL der abgerufenen Datei' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Website from which the access is made (Referrer URL)' : 'Website, von der aus der Zugriff erfolgt (Referrer-URL)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Browser used and, if applicable, the operating system of your device' : 'Verwendeter Browser und ggf. das Betriebssystem Ihres Rechners' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Name of your access provider' : 'Name Ihres Access-Providers' }}</li>
    </ul>
  
    <p>
      {{ selectedLanguage === 'EN' ? 
        'The data mentioned will be processed for the following purposes:' :
        'Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet:' 
      }}
    </p>
    <ul>
      <li>{{ selectedLanguage === 'EN' ? 'Ensuring a smooth connection of the website' : 'Gewährleistung eines reibungslosen Verbindungsaufbaus der Website' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Ensuring comfortable use of our website' : 'Gewährleistung einer komfortablen Nutzung unserer Website' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Evaluation of system security and stability' : 'Auswertung der Systemsicherheit und -stabilität' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Administrative purposes' : 'Zu weiteren administrativen Zwecken' }}</li>
    </ul>
  
    <p>
      {{ selectedLanguage === 'EN' ? 
        'The legal basis for data processing is Art. 6 para. 1 sentence 1 lit. f GDPR. Our legitimate interest follows from the purposes listed above for data collection. Under no circumstances do we use the collected data for the purpose of drawing conclusions about you.' :
        'Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse folgt aus den oben aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu ziehen.'
      }}
    </p>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? 'b) When Using Our Contact Form' : 'b) Bei Nutzung unseres Kontaktformulars' }}</strong><br />
      {{ selectedLanguage === 'EN' ? 
        'When you contact us via our website’s contact form, we require a valid email address to identify who the inquiry is from and to answer it. Further information can be provided voluntarily.' :
        'Bei Fragen jeglicher Art bieten wir Ihnen die Möglichkeit, mit uns über ein auf der Website bereitgestelltes Formular Kontakt aufzunehmen. Dabei ist die Angabe einer gültigen E-Mail-Adresse erforderlich, damit wir wissen, von wem die Anfrage stammt und um diese beantworten zu können. Weitere Angaben können freiwillig getätigt werden.'
      }}
    </p>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? '3. Data Disclosure' : '3. Weitergabe von Daten' }}</strong><br />
      {{ selectedLanguage === 'EN' ? 
        'We will not disclose your personal data to third parties, except in the following cases:' :
        'Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den im Folgenden aufgeführten Zwecken findet nicht statt:' 
      }}
    </p>
    <ul>
      <li>{{ selectedLanguage === 'EN' ? 'You have given explicit consent to this' : 'Sie Ihre ausdrückliche Einwilligung dazu erteilt haben' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'It is necessary for legal claims' : 'Die Weitergabe zur Geltendmachung von Rechtsansprüchen erforderlich ist' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'A legal obligation exists' : 'Eine gesetzliche Verpflichtung besteht' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'It is necessary for the performance of a contract' : 'Die Weitergabe für die Vertragsabwicklung erforderlich ist' }}</li>
    </ul>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? '4. Cookies' : '4. Cookies' }}</strong><br />
      {{ selectedLanguage === 'EN' ? 
        'We use cookies on our website. Cookies are small files stored on your device that allow your browser to remember information from your visit.' :
        'Wir setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um kleine Dateien, die auf Ihrem Endgerät gespeichert werden.' 
      }}
    </p>
  
    <p>
      <strong>{{ selectedLanguage === 'EN' ? '5. Your Rights' : '5. Betroffenenrechte' }}</strong><br />
      {{ selectedLanguage === 'EN' ? 
        'As a user, you have the following rights under the GDPR:' :
        'Sie haben als Betroffener folgende Rechte gemäß DSGVO:' 
      }}
    </p>
    <ul>
      <li>{{ selectedLanguage === 'EN' ? 'Right to access (Art. 15 GDPR)' : 'Recht auf Auskunft (Art. 15 DSGVO)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Right to rectification (Art. 16 GDPR)' : 'Recht auf Berichtigung (Art. 16 DSGVO)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Right to erasure (Art. 17 GDPR)' : 'Recht auf Löschung (Art. 17 DSGVO)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Right to restriction of processing (Art. 18 GDPR)' : 'Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Right to data portability (Art. 20 GDPR)' : 'Recht auf Datenübertragbarkeit (Art. 20 DSGVO)' }}</li>
      <li>{{ selectedLanguage === 'EN' ? 'Right to object (Art. 21 GDPR)' : 'Widerspruchsrecht (Art. 21 DSGVO)' }}</li>
    </ul>
  </div>
</section>
